{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Tiru.css' %}">
</head>
<body>
    <center>
        <h1>Image Insertion</h1>
        <img src="{% static 'images/Budda.jpg' %}" alt="Budda">
        <p>
            Siddhartha Gautama, most commonly referred to as the Buddha,was a wandering ascetic and religious teacher who lived in South Asia during the 6th or 5th century BCE and founded Buddhism.
            According to Buddhist tradition, he was born in Lumbini, in what is now Nepal, to royal parents of the Shakya clan, but renounced his home life to live as a wandering ascetic.
            After leading a life of begging, asceticism, and meditation, he attained enlightenment at Bodh Gaya in what is now India.
        </p>
        <button>Visit</button>
        <button>Go to Menu</button>
    </center>
</body>
</html>